<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a task</h1>
      <br>

      <form class="form-group" ng-submit="createTask()">
        <label for="task-name">Task Name:</label>
        <input class="form-control" id="task-name" type="text" placeholder="Enter a task name" ng-model="taskForm.taskName"></input>

        <br>

        <label for="task-description">Task Description:</label>
        <input class="form-control" id="task-description" type="text" placeholder="Enter the task description" ng-model="taskForm.taskName"></input>

        <br>
        <!-- bullets -->
        <label for="task-bullets">Bullets:</label>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="add bullet" ng-model="taskBullet.item"></input>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addBullet()">Add</button>
          </span> 
        </div>

        <br>
        <!-- category 
        make a get request to pull category into dropdown
        Need a get method on the forms.js
        http://stackoverflow.com/questions/15688313/how-can-i-populate-a-select-dropdown-list-from-a-json-feed-with-angularjs
        https://docs.angularjs.org/api/ng/directive/ngOptions-->
        <label for="task-category">Category:
          <select ng-model="taskFormCategory" ng-options="task.category for category in taskForm"></select>          
        </label>

        
        <!-- assigned to
        Similar to above
        -->


      </form> 
    </div>    
  </div>
</div>