<h4>Create a task</h4>

<form class="form-group" name="submitForm" ng-submit="createTask()" novalidate>
  <label for="task-name">Task Name:</label>
  <input class="form-control" id="task-name" type="text" placeholder="Enter the task name" ng-model="taskForm.taskName" required>

  <label for="task-description">Task Description:</label>
  <input class="form-control" id="task-description" type="text" placeholder="Enter the task description" ng-model="taskForm.description">

  <label for="task-bullets">Bullets:</label>
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Enter the bullet description" ng-model="task.bullet">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addBullet()">Add</button>
    </span>
  </div>

  <div ng-repeat="bullet in bullets">
    <ul>
      <li> {{ bullet }} </li>
    </ul>
  </div>

  <label for="task-category">Category:</label>
  <input class="form-control" type="text" list="category" name="category" placeholder="Category" ng-model="taskForm.category" required>
    <datalist id="category">
      <option value="Activites">
      <option value="Clothing">
      <option value="Cooking Supplies">
      <option value="Essentials"
      <option value="Food">
      <option value="Gear">
      <option value="Lodging">
      <option value="Toiletries">
      <option value="Transportation">
    </datalist>
  </input>

  <div class="form-group">
    <label for="task-assign">Assign To:</label>
    <select class="form-control" ng-model="taskForm.assignedTo" ng-options="member.email for member in trip.members"></select>
  </div>

  <button class="btn btn-primary" type="submit" ng-disabled="submitForm.$invalid">Create Task!</button>
</form>
