body {
  padding-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

input.ng-invalid.ng-dirty{
  border-color: red;
}

.landing {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  background-image: url("../img/blackrock-mountain.jpg");
  background-size: cover;
}
.landing-body {
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 10px;
}
.landing-content {
  color: #fff;
  padding-top: 1px;
  padding-bottom: 20px;
  background-color: rgba(28,77,178,.7);
}

.google-signin {
  display: block;
  width: 191px;
  height: 46px;
  margin: auto;
  background-image: url("../img/buttons/google-signin/btn_google_signin_light_normal_web.png");
}
.google-signin:active {
  background-image: url("../img/buttons/google-signin/btn_google_signin_light_pressed_web.png");
}

.navbar {
  background-color: #215CD4;
  border-color: #888;
}

.logout {
  margin-top: 15px;
}

.members {
  display: inline;
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}
.members li {
  display: inline;
  float: left;
  margin-bottom: 10px;
}

.members li + li:before {
  content: ",";
}

.invited p {
  margin-bottom: 0px;
}

.panel-title {
  font-size: 20px;
}

.glyphicon-tree-conifer {
  color: green;
}

.glyphicon-grain {
  color: red;
}

.pointer {
  cursor: pointer;
}
