<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-2">Task</th>
      <th class="col-sm-3">Description</th>
      <th class="col-sm-1">Category</th>
      <th class="col-sm-4">Bullets</th>
      <th class="col-sm-1">Assigned</th>
      <th class="col-sm-1">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="task in trip.tasks">
      <td class="col-sm-2">{{ task.taskName }}</td>
      <td class="col-sm-3">{{ task.description }}</td>
      <td class="col-sm-1">{{ task.category }}</td>
      <td class="col-sm-4">
        <ul>
          <li ng-repeat="bullet in task.bullets">
            {{ bullet }}
          </li>
        </ul>
      </td>
      <td class="col-sm-1">
        <span ng-repeat="key in task.assignedTo">
          <svg height="12" width="10">
            <circle cx="5" cy="6" r="5" fill="{{ color[key] }}" />
          </svg>
        </span>
      </td>
      <td ng-click="updateStatus(task)" class="col-sm-1 glyphicon glyphicon glyphicon-grain pointer" ng-if="task.statusCode === 0" title="Update Status"></td>
      <td ng-click="updateStatus(task)" class="col-sm-1 glyphicon glyphicon-tree-conifer" ng-if="task.statusCode === 1"></td>
    </tr>
  </tbody>
</table>
