<div class="landing">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Canteen App</h1>
      <h4>Don’t get lost planing your next outdoor adventure</h4>
    </div>
  </div>

<!--   <br> -->

  <!-- <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-group" ng-submit="">
        <label for="username">Username</label>
        <input class="form-control" id="username" type="text" placeholder="Enter your username" ng-model="data.username">

        <br>

        <label for="password">Password</label>
        <input class="form-control" id="password" type="text" placeholder="Enter your password" ng-model="data.username">
      </form>
    </div>
  </div> -->

  <div class="row">
      <!-- make dynamic for environment -->
      <a class="google-signin" href="http://localhost:3333/connect/google"></a>
    </div>
  </div>
</div>
